@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Noto+Sans+HK:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.welcome-banner-loading {
  background-image: url('../public/images/low-res-placeholder.jpg');
  background-position: bottom;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.welcome-banner {
  background-position-y: 30%;
  background-size: cover;
  height: 45vh;
  overflow-x: hidden;
}

.page-title {
  height: 45vh;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.welcome-container {
  min-height: 55vh;
}

@media screen and (min-width: 1800px) {
  .page-title, .welcome-banner {
    height: 60vh;
  }
  .welcome-container {
    min-height: 40vh;
  }
}

footer {
  font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
}

/* Animations */
@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 1s cubic-bezier(.25, 1, .30, 1.2) wipe-in-down both;
}

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:square:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1.2) square-in-center;
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:up"] {
  animation: 0.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

@keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[transition-style="fade:in"], .fade-in {
  animation: 0.75s ease-in-out fade-in;
}

[transition-style="fade:in:fast"] {
  animation: 0.50s ease-in-out fade-in;
}

[transition-style="fade:in:faster"] {
  animation: 0.25s ease-in-out fade-in;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }
  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }
}

[transition-style="in:wipe:bottom-right"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
}

@keyframes edit-grow {
  from {
    height: 443px;
  }
  to {
    height: 456px;
  }
}

.edit-grow {
  animation: 0.2s linear edit-grow;
}

@keyframes square-out-bottom-right {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 100%);
  }
}

[transition-style="out:square:bottom-right"] {
  animation: 1s cubic-bezier(.25, 1, .30, 1) square-out-bottom-right both;
}

@keyframes faded-disable {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

[transition-style="faded-disable"] {
  animation: 1s ease faded-disable;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

[transition-style="fade:in:left"] {
  animation: 1s ease fadeInLeft;
}

@keyframes wipe-in-right-green {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

.in-wipe-right-green {
  animation: 1.25s cubic-bezier(.41,0,.58,.99) wipe-in-right-green both;
  background-color: '#407033';
}

.out-wipe-right {
  animation: 1.25s cubic-bezier(.41,0,.58,.99) wipe-in-right both;
  background-color: '#407033';
}

@keyframes animate-gray {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
}

.animate-gray {
  animation: 1.25s ease animate-gray;
}